.about-container {
  height: 84vh;
  background-color: rgb(133, 133, 214);
  padding: 2vh 0 0 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-header-main {
  font-size: 72px;
}

.about-header-sub {
  font-size: 40px;
}

.about-text-container {
  height: 50vh;
  width: 50vw;
  font-size: 20px;
}

.about-pixel-sprite {
  height: 80px;
  width: 80px;
}
