*{
  margin: 0;
  padding: 0;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: -1342px 0; }
  }
.container-div {
  height: 100%;
  width: 100%
  }
#animate-area	{
  height: 86vh;
  max-height: 90vh;
  max-width: 100vw;  
  background-image: url('../../img/background-budget.png');
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size: 70%;
  overflow: hidden;
  animation: animatedBackground 40s linear infinite;
  }

.vt-font {
  font-family: 'VT323', monospace;
}

.pt-sans-font {
  font-family: 'PT Sans', sans-serif;
}

.header-text {
  font-size: 72px;
}

.home-page-text {
  padding: 10px 10px;
}






/* #A3B18A
#E4FDE1
#FBFEFB */